Django==5.2.6
djangorestframework==3.16.1
python-decouple==3.8
requests==2.32.4
django-cors-headers==4.8.0
pymongo==4.13.2
gunicorn==23.0.0
numpy==1.26.4
pandas==2.2.3
openpyxl==3.1.5
bcrypt==5.0.0
redis==5.0.1
whitenoise==6.8.2
imap-tools==1.10.0
boto3==1.39.2